<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>ViewUI example</title>

    <link
      rel="stylesheet"
      type="text/css"
      href="https://unpkg.com/view-design/dist/styles/iview.css"
    />
    <link rel="stylesheet" href="./pro.css" />
    <script src="https://cdn.jsdelivr.net/npm/nanoid/nanoid.js"></script>
    <script
      type="text/javascript"
      src="https://vuejs.org/js/vue.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://unpkg.com/view-design/dist/iview.min.js"
    ></script>
    <script src="https://unpkg.com/vuex"></script>
    <script src="https://unpkg.com/vue-router@2.0.0/dist/vue-router.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="layout">
        <layout>
          <i-header>
            <i-menu mode="horizontal" theme="dark" active-name="1">
              <div class="layout-nav">
                <menu-item name="1" @click.native="add1">
                  <icon type="ios-navigate"></icon>
                  最新消息
                </menu-item>
                <menu-item name="2" @click.native="add2">
                  <icon type="ios-keypad"></icon>
                  產品型錄
                </menu-item>
                <menu-item name="3" @click.native="add3">
                  <icon type="ios-analytics"></icon>
                  加入會員
                </menu-item>
                <menu-item name="4" @click.native="add4">
                  <icon type="ios-analytics"></icon>
                  結帳
                </menu-item>
              </div>
            </i-menu></i-header
          ><i-content :style="{padding: '0 50px'}">
            <div :class="{fixUp:true,disappear:isAppear}">
              <!-- <i-input placeholder="Enter something..." style="width: 120px" />
                  <i-input
                    type="password"
                    password
                    placeholder="Enter something..."
                    style="width: 190px"
                  /> -->
              <div @click="dropOut" class="fixUpTitle">{{login}}</div>
              帳號:<input v-model.trim="count" type="text" />姓名:<input
                v-model.trim.number="name"
                type="text"
              />
              <div>
                <input
                  id="fixButton"
                  class="fixButton"
                  type="reset"
                  value="清空"
                  @click="clear"
                /><input
                  @click="send"
                  class="fixButton"
                  type="button"
                  value="送出"
                />
                <icon type="md-add" @click="remove" class="myAdd" />
              </div>
            </div>
            <div v-if="lis[0]">
              <div class="top">最新消息</div>
              <carousel
                class="app"
                autoplay
                autoplay-speed="3000"
                v-model="value2"
                loop
              >
                <carousel-item>
                  <div class="outWrap">
                    <div style="position: relative" class="demo-carousel">
                      <div
                        style="
                          position: absolute;
                          z-index: 2;
                          left: 90px;
                          top: 10px;
                        "
                      >
                        <h3>三本言情小說七折</h3>
                      </div>
                      <img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTeYmxbdOqzu7c_DAvKheseGdYZeTA9HyUu8A&usqp=CAU"
                        alt=""
                      />
                    </div>
                  </div>
                </carousel-item>

                <carousel-item>
                  <div class="outWrap">
                    <div style="position: relative" class="demo-carousel">
                      <div
                        style="
                          position: absolute;
                          z-index: 2;
                          left: 90px;
                          top: 10px;
                        "
                      >
                        <h3>你誆最新科幻著作</h3>
                      </div>
                      <img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQ0w6AYZ2pwgD96HRRqMhn2MqZ-Q6wI_CrjQ&usqp=CAU"
                        alt=""
                      />
                    </div>
                  </div>
                </carousel-item>
                <carousel-item>
                  <div class="outWrap">
                    <div style="position: relative" class="demo-carousel">
                      <div
                        style="
                          position: absolute;
                          z-index: 2;
                          left: 90px;
                          top: 10px;
                        "
                      >
                        <h3>日本暢銷電影原著</h3>
                      </div>
                      <img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRC59eGLdxYAqJfe-dD8gdCmXrfszaRREHqtw&usqp=CAU"
                        alt=""
                      />
                    </div>
                  </div>
                </carousel-item>
                <carousel-item>
                  <div class="outWrap">
                    <div style="position: relative" class="demo-carousel">
                      <div
                        style="
                          position: absolute;
                          z-index: 2;
                          left: 90px;
                          top: 10px;
                        "
                      >
                        <h3>暢銷漫畫</h3>
                      </div>
                      <img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJre3QiASt40aoX2LIoBrXUS0yyYjC5jImhw&usqp=CAU"
                      />
                    </div>
                  </div>
                </carousel-item>
              </carousel>

              <i-table
                style="margin-top: 60px"
                :columns="columns"
                :data="list"
              ></i-table>
              <Page
                :total="total"
                :current="page"
                @on-change="changePage"
              ></Page>
            </div>
            <div v-if="lis[1]">
              <div class="top">
                產品目錄
                <div class="inputs">
                  <i-input
                    v-model="filter"
                    maxlength="200"
                    search
                    enter-button="Search"
                    placeholder="Enter something..."
                  />
                </div>
              </div>
              <row
                type="flex"
                justify="center"
                style="background: #eee; padding: 20px"
              >
                <div v-for="(item, index) in filter_a" :key="index">
                  <div class="bookWrap">
                    <p style="font-size: 20px">{{item.title}}</p>
                    <p style="color: red">{{item.dollar}}$</p>
                    <img width="80%" :src="item.url" alt="" />

                    <i-button type="Primary"> 加入購物車 </i-button>
                  </div>
                </div>
              </row>
            </div>
            <div v-if="lis[2]">
              <div class="top">加入會員</div>
              <div class="left">
                <h1>Login In</h1>
                <h3>
                  加入會員登入帳號後，始可享有專屬會員線上購物，修改帳號密碼，查詢購物清單。
                </h3>
              </div>
              <i-form
                class="right"
                ref="formValidate"
                :model="formValidate"
                :rules="ruleValidate"
                :label-width="80"
              >
                <form-item label="姓　　名" prop="name">
                  <i-input
                    v-model="formValidate.name"
                    placeholder="Enter your name"
                  ></i-input>
                </form-item>
                <form-item label="帳號email" prop="mail">
                  <i-input
                    v-model="formValidate.mail"
                    placeholder="Enter your e-mail"
                  ></i-input>
                </form-item>
                <form-item label="聯絡地址" prop="city">
                  <i-input
                    v-model="formValidate.city"
                    placeholder="Select your city"
                  >
                  </i-input>
                </form-item>
                <form-item label="出生日期">
                  <row>
                    <i-col span="11">
                      <form-item prop="date">
                        <date-picker
                          type="date"
                          placeholder="Select date"
                          v-model="formValidate.date"
                        ></date-picker>
                      </form-item>
                    </i-col>
                  </row>
                </form-item>
                <form-item label="性　　別" prop="gender">
                  <radio-group v-model="formValidate.gender">
                    <radio label="male">Male</radio>
                    <radio label="female">Female</radio>
                  </radio-group>
                </form-item>
                <form-item label="聯絡電話" prop="phone">
                  <i-input v-model="formValidate.phone"> </i-input>
                </form-item>
                <form-item label="意見" prop="desc">
                  <i-input
                    v-model="formValidate.desc"
                    type="textarea"
                    :autosize="{minRows: 2,maxRows: 5}"
                    placeholder="Enter something..."
                  ></i-input>
                </form-item>
                <form-item>
                  <i-button type="primary" @click="handleSubmit('formValidate')"
                    >輸入</i-button
                  >
                  <i-button
                    @click="handleReset('formValidate')"
                    style="margin-left: 8px"
                    >清除</i-button
                  >
                </form-item>
              </i-form>
            </div>
            <div v-if="lis[3]">
              <div class="top">結帳</div>
              <div class="left">
                <div>購物明細</div>
                <div>
                  <radio-group v-model="buttonSize" type="button">
                    <radio label="large">全選</radio>
                    <radio label="default">刪除</radio>
                  </radio-group>
                </div>
                <ul v-for="(item, index) in countCar" :key="index">
                  <li>{{item}}</li>
                </ul>
              </div>
            </div>
          </i-content>
          <i-footer class="layout-footer-center"
            >2011-2016 &copy; TalkingData</i-footer
          >
        </layout>
      </div>
    </div>
    <script>
      const data = [];
      const name = [
        "光化出版社",
        "奇金文化",
        "奇金文化",
        "長頸兔文教機構",
        "奇金文化",
        "銅周刊",
        "奇金文化",
        "銅周刊",
        "奇金文化",
        "大大文化",
      ];
      for (let i = 0; i < 20; i++) {
        data.push({
          id: i + 1,
          name: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum maxime hic amet, sint modi assumenda atque necessitatibus nostrum esse blanditiis sed, a officiis harum minima, pariatur vero temporibus voluptatibus obcaecati.",
          member: name[i],
        });
      }

      function getPageList(p, size) {
        return data.slice((p - 1) * size, p * size);
      }

      const pageSize = 5;

      // const store = new Vuex.Store({
      //   state: {
      //     shopCar: {
      //       西班牙歷史: [{}],
      //       魔界: [{}],
      //       風起雲湧: [{}],
      //       丹麥女孩: [{}],
      //       東周列國志: [{}],
      //     },
      //   },
      //   mutations: {
      //     ADD(state, val) {
      //       for (let i in state.shopCar) {
      //         if (i == val.title) {
      //           state.shopCar[i].splice(0, 1, val);
      //         }
      //       }
      //     },
      //   },
      //   actions: {
      //     adds(context, val) {
      //       context.commit("ADD", val);
      //     },
      //   },
      // });

      new Vue({
        el: "#app",
        mounted() {
          for (let i = 0; i < 20; i++) {
            data.push({
              id: i + 1,
              name: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum maxime hic amet, sint modi assumenda atque necessitatibus nostrum esse blanditiis sed, a officiis harum minima, pariatur vero temporibus voluptatibus obcaecati.",
              member: name[i],
            });
          }
          function getPageList(p, size) {
            return data.slice((p - 1) * size, p * size);
          }

          const pageSize = 5;
          for (var i = 0; i < 5; i++) {
            this.a.push({
              title: this.title[i],
              url: this.url[i],
              dollar: i * 2,
            });
          }
        },
        computed: {
          // data: [],
          // name: [
          //   "光化出版社",
          //   "奇金文化",
          //   "奇金文化",
          //   "長頸兔文教機構",
          //   "奇金文化",
          //   "銅周刊",
          //   "奇金文化",
          //   "銅周刊",
          //   "奇金文化",
          //   "大大文化",
          // ],試試看是否運行
          countCar() {
            return this.filter_a;
          },
          filter_a: function () {
            return this.a.filter((p) => {
              if (p.title.indexOf(this.filter) != -1) {
                return true;
              }
              return false;
            });
          },
        },
        data: {
          buttonSize: "large",
          login:
            (localStorage.getItem("user") ? "登出" : "會員登入") || "會員登入",
          count: "",
          name: "",
          isAppear: localStorage.getItem("user")
            ? true
            : false || this.local
            ? true
            : false,
          value2: 0,
          formValidate: {
            name: "",
            mail: "",
            city: "",
            gender: "",
            phone: "",
            date: "",
            time: "",
            desc: "",
          },
          ruleValidate: {
            name: [
              { required: true, message: "名字不能空白", trigger: "blur" },
            ],
            mail: [
              { required: true, message: "帳號不能空白", trigger: "blur" },
              { type: "email", message: "帳號不能空白", trigger: "blur" },
            ],
            city: [
              { required: true, message: "請輸入地址", trigger: "change" },
              { required: true, message: "地址不能空白", trigger: "blur" },
            ],
            gender: [
              { required: true, message: "請輸入性別", trigger: "change" },
            ],
            phone: [
              { required: true, message: "電話不能空白", trigger: "blur" },
            ],
            date: [],
            desc: [
              {
                type: "string",
                min: 20,
                message: "請輸入二十字以上敘述",
                trigger: "blur",
              },
            ],
          },
          local: localStorage.getItem("user"),
          total: data.length,
          page: 1,
          pageSize: pageSize,
          list: getPageList(1, pageSize),
          columns: [
            {
              title: "",
              key: "id",
              width: 60,
            },

            {
              title: "公告",
              key: "name",
            },

            {
              title: "發布者",
              key: "member",
            },
          ],
          lis: localStorage.getItem("lis")
            ? JSON.parse(localStorage.getItem("lis"))
            : [0, 0, 0, 0],
          filter: "",
          title: ["西班牙歷史", "魔界", "風起雲湧", "丹麥女孩", "東周列國志"],
          url: [
            "https://im1.book.com.tw/image/getImage?i=https://www.books.com.tw/img/001/081/38/0010813873.jpg&w=374&h=374&v=5c5411ac",
            "https://im1.book.com.tw/image/getImage?i=https://www.books.com.tw/img/001/089/66/0010896687.jpg&w=374&h=374&v=60deeab0",
            "https://im1.book.com.tw/image/getImage?i=https://www.books.com.tw/img/001/058/61/0010586158.jpg&w=374&h=374&v=518a3753",
            "https://im1.book.com.tw/image/getImage?i=https://www.books.com.tw/img/001/067/62/0010676232.jpg&w=374&h=374&v=555b2ccd",
            "https://im1.book.com.tw/image/getImage?i=https://www.books.com.tw/img/CN1/171/07/CN11710792.jpg&w=374&h=374&v=5df313d0",
          ],

          a: [],
          b: [1, 2, 3],
        },
        watch: {},
        // components: {
        //   tools: {
        //     template: `<i-col style="margin:20px" span="5" offset="1">
        //     <card >
        //         <p slot="title" style="font-size:20px">{{names.title}}</p>
        //         <p slot="extra" style="color:red">{{names.dollar}}$</p>
        //         <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRTkIvss8MTxPkZGZ3RJV7NYuH6g6r_iCRzjw&usqp=CAU" alt="">
        //     </card>
        // </i-col> `,
        //     props: ["names"],
        //   },
        // },
        methods: {
          clear() {
            this.count = "";
            this.name = "";
          },
          dropOut() {
            console.log(this.isAppear, "");
            if (this.isAppear == true) {
              this.isAppear = false;
              localStorage.removeItem("name");
              localStorage.removeItem("user");
              this.login = "會員登入";
              window.location.reload();
            }
          },
          send() {
            if (this.count && this.name) {
              localStorage.setItem("name", JSON.stringify(this.name));
              localStorage.setItem("user", JSON.stringify(this.count));
              this.isAppear = !this.isAppear;
              this.login = "登出";
              window.location.reload();
            }
          },
          remove() {
            this.isAppear = !this.isAppear;
          },
          handleSubmit(name) {
            this.$refs[name].validate((valid) => {
              if (valid) {
                this.$Message.success("註冊成功");
                localStorage.setItem(
                  "name",
                  JSON.stringify(this.formValidate.name)
                );
                localStorage.setItem(
                  "user",
                  JSON.stringify(this.formValidate.mail)
                );
                setTimeout(() => {
                  this.$refs[name].resetFields();
                }, 2000);
                window.location.reload();
              } else {
                this.$Message.error("失敗");
              }
            });
          },
          handleReset(name) {
            this.$refs[name].resetFields();
          },
          changePage(p) {
            this.page = p;
            this.list = getPageList(p, pageSize);
          },
          add1(e) {
            console.log(1);
            this.lis.splice(0, 3, 0, 0, 0, 0);
            this.lis.splice(0, 1, 1);
            localStorage.setItem("lis", JSON.stringify(this.lis));
          },
          add2(e) {
            this.lis.splice(0, 3, 0, 0, 0, 0);
            this.lis.splice(1, 1, 1);
            localStorage.setItem("lis", JSON.stringify(this.lis));
          },
          add3(e) {
            this.lis.splice(0, 3, 0, 0, 0, 0);
            this.lis.splice(2, 1, 1);
            localStorage.setItem("lis", JSON.stringify(this.lis));
          },

          add4(e) {
            // this.local = localStorage.getItem("password");

            console.log(this.local, "");
            if (!this.local) {
              this.$Modal.warning({
                title: "注意",
                content: "請先登入",
              });
            } else {
              console.log("ppp", "");
              this.lis.splice(0, 3, 0, 0, 0, 0);
              this.lis.splice(3, 1, 1);
              localStorage.setItem("lis", JSON.stringify(this.lis));
            }
          },
        },
      });
    </script>
  </body>
</html>
