@import url("//unpkg.com/view-design/dist/styles/iview.css");
#app {
  padding: 32px;
}
#app {
  padding: 32px;
}
#app {
  padding: 32px;
}
#app {
  padding: 32px;
}

.cards {
  margin: 20px;
  width: 300px;
}

.top {
  width: 100%;
  border-bottom: 1px gray solid;
  margin-bottom: 12px;
  font-size: 30px;
}
.right {
  width: 50%;
  height: 70%;
  display: inline-block;
}

.left {
  max-width: 50%;
  height: 70%;
  display: inline-block;
}

.ivu-checkbox-wrapper {
  cursor: pointer;
  font-size: 14px;
  display: inline-block;
  margin-right: 8px;
  transform: translate(10px, -10px);
}

h1 {
  font-size: 50px;
}
h3 {
  font-size: 30px;
}
h3 {
  font-size: 30px;
  color: midnightblue;
  -webkit-text-stroke: 0.5px #fff;
}
p {
  z-index: 10;
}
.top {
  width: 100%;
  border-bottom: 1px gray solid;
  margin-bottom: 12px;
  font-size: 30px;
}
.outWrap {
  margin: 0 auto;
  width: 600px;
}
.app {
  width: 100%;
  border: 1px solid rgb(216, 214, 214);
  background-color: rgb(216, 214, 214);
}
.inputs {
  float: right;
  width: 300px;
}
.top {
  width: 100%;
  border-bottom: 1px gray solid;
  margin-bottom: 12px;
  font-size: 30px;
}
.layout {
  border: 1px solid #d7dde4;
  background: #f5f7f9;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
}
.layout-logo {
  width: 100px;
  height: 30px;
  background: #5b6270;
  border-radius: 3px;
  float: left;
  position: relative;
  top: 15px;
  left: 20px;
}
.bookWrap {
  text-align: center;
  margin: 5px;
}
.bookWrap button {
  margin-right: 20px;
}
.layout-nav {
  width: 420px;
  margin: 0 auto;
  margin-right: 20px;
}
.layout-footer-center {
  text-align: center;
}
.ivu-carousel-arrow.ivu-carousel-arrow-hover:hover,
.ivu-carousel-arrow.ivu-carousel-arrow-hover {
  width: 20px;
  height: 20px;
}
.fixUp {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 50px;
  right: 50px;
  background-color: #2d8cf0;
  border-radius: 10%;
  height: 180px;
  width: 140px;
  z-index: 5;
  color: rgb(219, 235, 235);
  text-align: center;
}
.fixUp input:hover {
  border: #436080 1px solid;
  color: #436080;
}
.fixUp input {
  margin-left: 2px;
  border: solid #2d8cf0 1px;
  border-radius: 5%;
  width: 120px;
}
.fixUp .fixButton {
  width: 50px;
  color: #2d8cf0;
  cursor: pointer;
  margin-top: 20px;
}
.fixUp #fixButton {
  margin-left: 5px;
}
.fixUpTitle {
  font-size: 16px;
  margin-top: 5px;
}
.myAdd {
  transform: rotate(45deg);
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 18px;
  cursor: pointer;
}
.disappear {
  transform: translateY(200px);
  cursor: pointer;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 1s linear;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.layout-nav {
  width: 600px;
}
.ivu-list-split .ivu-list-item {
  border-bottom: 0px;
}

li {
  list-style-type: none;
}

.ivu-col-span-11 {
  max-width: 50%;
  min-width: 50%;
}

.ivu-layout-content {
  padding: 0px 0px;
}
